@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --black: #252422;
    --black2: #222222;
    --white: #FFFCF2;
}

html, body {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--black2);
    color: var(--white);
    min-height: 100%; /* Ganti height menjadi min-height */
    position: relative;
}

#particles-js {
    position: fixed; /* Ganti dari absolute ke fixed */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none; /* Pastikan particle tidak mengganggu interaksi */
}

.container {
    background-color: var(--black);
    max-width: 80%;
    margin: 40px auto;
    text-align: center;
    padding: 1em;
    border: 1px solid var(--white);
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.mentors {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5em;
    align-items: center;
    margin: auto;
    padding: 1em;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    position: relative;
    z-index: 1;
}

.profile {
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    position: relative;
}

@media (max-width: 768px) {
    .container {
        max-width: 80%;
        margin: 20px auto;
    }

    .mentors {
        max-width: 100%;
        flex-direction: column;
        gap: 2em;
    }

    .photo .profile {
        width: 120px;
        height: 160px;
    }
}
